* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* box-sizing özelliği kalıtsal olmuş oldu. Hepsi body'den alacak. */
}

/*
MEDIA QUERIES
cep telefonu dikey - (0 - 375px)
cep telefonu yatay - (376px - 480px)
tablet dikey - (481px - 768px)
tablet yatay ve laptop - (769px - 1024px)
masaüstü bilgisyarlar - (1025px - 1200px)
*/

html {
  font-size: 100%; /* 1 rem = 16 px */

  @media only screen and (max-width:1024px){
    font-size: 90%;
  }

  @media only screen and (min-width:1750px){
    font-size: 150%;
  }
}

body {
  box-sizing: border-box; /* vereceğimiz padding ve margin değerlerini kutunun içinden düşer*/
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $color-font-1;
}
