.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus {
  height: 40rem;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0 1rem;
  }

  @media only screen and (max-width: 480px) {
    height: 70rem;
    flex-direction: column;
  }

  &__left {
    height: 80%;
    flex-basis: 50%;

    @media only screen and (max-width: 480px) {
      width: 100%;
    }
  }

  &__right {
    height: 60%;
    flex-basis: 40%;
    background-color: RGB($color-dark, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 480px) {
      width: 80%;
    }
  }
}
