.button {
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  font-size: 0.7rem;
  letter-spacing: 1px;
  cursor: pointer; //mause üstüne gelinde imlecin görüntüsü değişir
  outline: none; //butonun görünmez dış çerevesini iptal etmek için
  position: relative;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;

    &:last-child {
      top: 110%;
      color: $color-white;
      opacity: 0;
    }
  }

  &:hover,
  &:active {
    background-color: $color-primary;
    span {
      opacity: 0; //1. spanın kaybolması için
      &:last-child {
        top: 50%;
        opacity: 1; //2. spanın geç görünmesi için
      }
    }
  }

  &--middle {
    font-size: 0.9rem;
    padding: 1.8rem 6rem;
  }

  &--big {
    font-size: 0.9rem;
    padding: 2rem 8rem;
    white-space: nowrap;
  }

  &--pink {
    background-color: rgba(#ee4266, 1);

    &:hover {
      background-color: rgba(#ee4266, 0.6);
    }
  }

  &--purple {
    background-color: rgba(#540d6e, 1);

    &:hover {
      background-color: rgba(#540d6e, 0.6);
    }
  }
}
