.socialMedia-nav {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    &,
    &:link,
    &:visited {
      padding: 0.5rem;
      text-decoration: none;
    }
    &:hover,
    &:active {
      svg {
        fill: $color-dark;
      }
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $color-primary;
  }

  &--big {
    margin-top: 1rem;

    .socialMedia-nav__icon {
      width: 1.1rem;
      height: 1.1rem;
      fill: $color-primary;
    }

    .socialMedia-nav__item {
      margin-right: 4px;
    }

    .socialMedia-nav__link {
      display: flex;
      justify-content: center;
      align-items: center;

      &,
      &:link,
      &:visited {
        border: 2px solid $color-primary;
        border-radius: 50%;
      }
      &:hover,
      &:active {
        background-color: $color-primary;
        border: 2px solid rgba($color-secondary, 0.7);
        svg {
          fill: $color-white;
        }
      }
    }
  }
}
